@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #e0e0e0; /* Light text color */
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A1A; /* Dark wrapper background */
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #333; /* Dark input background */
  border: 1px solid #BB86FC; /* Accent border color */
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #e0e0e0; /* Light text color */
}

.todo-input::placeholder {
  color: #888; /* Lighter placeholder color */
}

.todo-btn {
  background: #BB86FC; /* Accent background color */
  color: #121212; /* Dark text color */
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333; /* Dark todo background */
  color: #e0e0e0; /* Light text color */
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #e0e0e0; /* Light text color */
  cursor: pointer;
}

.completed {
  color: #ffffff; /* Accent color for completed todos */
  text-decoration: line-through;
  cursor: pointer;
  
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
